PORT=8123
AI_PROVIDER=seedream
STORAGE_DIR=./storage
VOLCENGINE_INTAKE_IMAGE_MODEL=doubao-seedream-5-0-260128
# VOLCENGINE_IMAGE_MODEL=doubao-seedream-5-0-260128
VOLCENGINE_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
VOLCENGINE_API_KEY=
